body{
font-family:sans-serif;
text-align:center;
transition:0.3s;
}

.theme-light{
background:white;
color:black;
}

.theme-dark{
background:#111;
color:white;
}

.theme-midnight{
background:#0b0f2a;
color:#cfd8ff;
}

input{
font-size:18px;
padding:10px;
width:250px;
}

button{
padding:10px 15px;
margin:5px;
font-size:16px;
cursor:pointer;
}

#result{
margin-top:20px;
font-size:24px;
}

.blue{
color:#4da6ff;
}

.yellow{
color:#ffd900;
}

.red{
color:#ff4d4d;
}

.diceResult{
font-weight:bold;
}
